<html>
  <head>
    
  </head>
  <body>
    
<h1>
  Title: [Step to it] / [We go to recess every day]
</h1>

<h2>
  Intro
</h2>
8 years old
Portland OR
  

<h2>
  What I Did
</h2>
Describe the problem / question.
   

<h2>How did I do it</h2>
Track activity: Fitbit 
  (developer api: you can get intra-day activity if you are requesting your own data)

Track weather: 
  (darksky.net: free (depending on quantity of usage) weather data api with historical data)

<h2>
  What did I learn?
</h2>


<h2>
  Next time...
</h2>
Are you going to keep doing this in the fall when school starts up again?
What changes do we need to make? 
  * how will we track recess-type?
  * will it be different if we are tracking contemporaneously, rather than pulling the data in historically?

Things Mom is interested to know:
* how often does the school actually cancel recess?
* how many days does rain during winter?
* what is this "precipitation intensity" measure and what does it look like in real life?
* is the weather data granular enough? (PDX seems to have lots of micro-weather)
* what in the world were you doing that day when you got 3000 steps in the 20 minute recess period?! Maniac :-)

Things Cantor is interested to know:
* 

<h2>
  What we plan to do to get recess changed
</h2>
  </body>

    </html>


<!--
Intro:
- i'm cantor. i'm 8. i live and go to school in portland or.
- i like : ____ & ____ & being crazy active
Problem:
- in portland it rains a lot
- when it is raining at recess time, the teachers at my school keep us inside
- [cantor's opinion about this]
What I did:
- got a fitbit to track my steps
- failed to get recess info from school
- got weather data from darksky.net
- compare rainy days to non
What I learned:
- not many rainy days since we started
- 

Next year
- how to keep track of recess days specifically?
- what to do next to make a change?

-->